.techs {
  padding: 100px 70px;
  background-color: #F5F5F5;
}

.techs__title {
  text-align: left;
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 0;
}

.techs__description {
  margin-top: 23px;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techs__description-title {
  margin-top: 90px;
  margin-bottom: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

.techs__description-text {
  margin-top: 26px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
  max-width: 460px;
  margin-bottom: 0;
}

.techs__info {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.techs__info-block {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  min-height: 60px;
  border-radius: 10px;
  background-color: #e8e8e8;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  margin: 0;
}

.techs__info-block:not(:first-child) {
  margin-left: 10px;
}

@media all and (max-width: 820px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__description-title {
    margin-top: 80px;
  }

  .techs__description-text {
    margin-top: 22px;
  }

  .techs__info {
    margin-top: 83px;
    flex-wrap: wrap;
  }

  .techs__info-block {
    min-width: 84px;
    min-height: 57px;
    font-size: 12px;
  }

  .techs__description-text {
    font-size: 12px;
    max-width: 459px;
  }
}

@media all and (max-width: 500px) {
  .techs {
    padding: 70px 18px;
  }

  .techs__title {
    font-size: 18px;
  }

  .techs__description {
    margin-top: 28px;
  }

  .techs__description-title {
    margin-top: 53px;
    font-size: 30px;
    max-height: 36px;
  }

  .techs__description-text {
    margin-top: 24px;
    font-size: 11px;
  }

  .techs__info {
    margin-top: 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: 84px 84px;
  }

  .techs__info-block {
      margin-top: 0;
      margin-bottom: 0;
  }

  .techs__info-block:not(:first-child) {
    margin-left: 0;
  }
}
