.NavTab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 66px;
  background-color: #000;
}

.NavTab__link {
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: underline;
}

.NavTab__link:hover {
  opacity: 0.7;
}

.NavTab__link:not(:last-child) {
  margin-right: 40px;
}

@media all and (max-width: 500px) {
  .NavTab__link {
    font-size: 11px;
  }

  .NavTab__link:not(:last-child) {
    margin-right: 24px;
  }
}
